* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    font-size: 10px;

    --color-bg: #ffffff;

    /* Text colors */
    --color-text-primary: #454545;
    --color-text-blue: #60B3FF;
    --color-text-purple: #C03AFF;

    /* Gradients */
    --subscription-orange-start: #FF5F6D;
    --subscription-orange-end: #FFC371;
    --subscription-orange-gradient: linear-gradient(135deg, var(--subscription-orange-start), var(--subscription-orange-end));

    --subscription-gold-start: #E0BA5C;
    --subscription-gold-end: #FDEC97;
    --subscription-gold-accent1: #C99533;
    --subscription-gold-accent2: #F9F09A;
    --subscription-gold-gradient: linear-gradient(135deg, var(--subscription-gold-start), var(--subscription-gold-end), var(--subscription-gold-accent1), var(--subscription-gold-accent2));

    --subscription-premium-dark: #0B1C3F;
    --subscription-premium-light: #A6A6A6;
    --subscription-premium-base: #454545;
    --subscription-premium-accent: #969696;
    --subscription-premium-gradient: linear-gradient(135deg, var(--subscription-premium-dark), var(--subscription-premium-light), var(--subscription-premium-base), var(--subscription-premium-accent));

    --subscription-pink-start: #FF1569;
    --subscription-pink-end: #C03AFF;
    --subscription-pink-gradient: linear-gradient(135deg, var(--subscription-pink-start), var(--subscription-pink-end));

    --profile-completion-start: #FE7347;
    --profile-completion-end: #FF2883;
    --profile-completion-gradient: linear-gradient(135deg, var(--profile-completion-start), var(--profile-completion-end));
}
